@inherits ComponentBase
@typeparam T

<Dropdown>
	<DropdownButton>
		<div class="bg-white border-gray-100 border-2 rounded px-4 py-2">
			@if (selectedOption != null)
			{
				<p>@selectedOption</p>
			}
			else
			{
				@Label
			}
		</div>
	</DropdownButton>
	<DropdownItems>
		<div class="py-2">
			@foreach (var option in Options)
			{
				<div @onclick="() => OnClickOption(option)" class="px-4 hover:bg-gray-100 cursor-pointer">
					@option
				</div>
			}
		</div>
	</DropdownItems>
</Dropdown>

@code {
	[Parameter]
	public required string Label { get; set; }
	[Parameter]
	public required IEnumerable<T> Options { get; set; }
	[Parameter]
	public T? DefaultValue { get; set; }
	[Parameter]
	public EventCallback<T> OnChangeOption { get; set; }

	private T? selectedOption { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();
		selectedOption = DefaultValue;
	}

	private void OnClickOption(T option)
	{
		selectedOption = option;
		OnChangeOption.InvokeAsync(option);
	}
}